<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Cập nhật nhân vật</title>
    <!-- outer css -->
    <!-- 1. Nhúng CSS & JS của Quill -->
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
  </head>
  <body>
    <div class="layout">
      <th:block th:replace="~{cms/fragments/sidebar :: sidebar}"> </th:block>

      <div class="content-wrapper">
        <th:block th:replace="~{cms/fragments/header :: header}"> </th:block>

        <main>
          <h1>Cập nhật nhân vật</h1>

          <p
            style="color: red"
            th:if="${errorMessage}"
            th:text="${errorMessage}"
          ></p>

          <form
            th:action="@{/character/moonblight/{id}/edit(id=${character.id})}"
            method="post"
            enctype="multipart/form-data"
            th:object="${character}"
          >
            <input type="hidden" th:field="*{image}" />

            <div>
              <label>Tên</label><br />

              <input type="text" th:field="*{name}" />
            </div>

            <br />

            <div>
              <label>Chủng tộc</label><br />

              <input type="text" th:field="*{race}" />
            </div>

            <br />

            <div>
              <label>Quote</label><br />

              <input type="text" th:field="*{quote}" />
            </div>

            <br />

            <div>
              <label>Priority</label><br />

              <input type="number" th:field="*{priority}" min="0" max="100" />
            </div>

            <br />

            <div>
              <label>Ảnh hiện tại</label><br />

              <img
                th:if="${character.image != null}"
                th:src="${character.image}"
                style="max-width: 200px"
              />
            </div>

            <br />

            <div>
              <label>Ảnh mới</label><br />

              <input type="file" name="imageFile" accept="image/*" />
            </div>

            <br />

            <div>
              <label>Mô tả</label><br />

              <textarea
                id="content"
                th:field="*{description}"
                hidden
              >
              </textarea>
              <div id="quill-editor" style="height: 300px"></div>
            </div>

            <br />

            <button type="submit">Cập nhật</button>
          </form>
        </main>
      </div>
    </div>
    <script th:src="@{/js/editor.js}"></script>
  </body>
</html>
