<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tạo thế giới</title>
  </head>
  <body>
    <h1>Tạo thế giới mới</h1>

    <p
      style="color: green"
      th:if="${successMessage}"
      th:text="${successMessage}"
    ></p>

    <p style="color: red" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form
      th:action="@{/world/moonblight/create}"
      method="post"
      enctype="multipart/form-data"
    >
      ```
      <div>
        <label>Tag</label><br />
        <input type="text" name="tag" />
      </div>

      <br />

      <div>
        <label>Tiêu đề</label><br />
        <input type="text" name="title" required />
      </div>

      <br />

      <div>
        <label>Độ ưu tiên (0 - 100)</label><br />
        <input type="number" name="priority" min="0" max="100" value="50" />
      </div>

      <br />

      <div>
        <label>Ảnh</label><br />
        <input type="file" name="imageFile" accept="image/*" />
      </div>

      <br />

      <div>
        <label>Nội dung</label><br />

        <textarea name="content" rows="15" cols="100" required> </textarea>
      </div>

      <br />

      <button type="submit">Tạo thế giới</button>
      ```
    </form>

    <br />

    <a th:href="@{/world/moonblight/list}"> Quay lại danh sách </a>
  </body>
</html>
