<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tạo câu chuyện</title>
  </head>
  <body>
    <h1>Tạo câu chuyện mới</h1>

    <p
      style="color: green"
      th:if="${successMessage}"
      th:text="${successMessage}"
    ></p>

    <p style="color: red" th:if="${errorMessage}" th:text="${errorMessage}"></p>

    <form
      th:action="@{/story/moonblight/create}"
      method="post"
      enctype="multipart/form-data"
    >
      <div>
        <label>Tiêu đề</label><br />
        <input type="text" name="title" maxlength="255" required />
      </div>
      <!-- <div
        style="color: red"
        th:if="${#fields.hasErrors('title')}"
        th:errors="*{title}"
      ></div> -->

      <br />
      <div>
        <label>Tag</label><br />
        <input type="text" name="tag" min="0" max="100" value="50" />
      </div>
      <br />

      <div>
        <label>Độ ưu tiên (0 - 100)</label><br />
        <input type="number" name="priority" min="0" max="100" value="50" />
      </div>

      <br />

      <div>
        <label>Ảnh</label><br />
        <input type="file" name="imageFile" accept="image/*" />
      </div>

      <br />

      <div>
        <label>Nội dung trích dẫn</label><br />
        <textarea name="quoteContent" rows="4" cols="80"> </textarea>
      </div>

      <br />

      <div>
        <label>Tác giả trích dẫn</label><br />
        <input type="text" name="quoteAuthor" />
      </div>

      <br />

      <div>
        <label>Nội dung câu chuyện</label><br />
        <textarea name="content" rows="15" cols="100" required> </textarea>
      </div>

      <br />

      <button type="submit">Tạo câu chuyện</button>
    </form>

    <br />

    <a th:href="@{/story/moonblight/list}"> Quay lại danh sách </a>
  </body>
</html>
